**/.DS_Store
# Ignore Emacs autosaves of older versions
**/*~
# Ignore Emacs auto rescue files
**/#*#
**/.#*
# Ignore cache stuff
autom4te.cache/
**/*.a
**/*.o
src/main
/Makefile
/Makefile.in
/aclocal.m4
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
